{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/f842f81dd4.js" crossorigin="anonymous"></script>   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Registrar novo jogo</title>
</head>
<body>
    <div class="header">
        <a href="jogos.html"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>Detalhes</h1>
        <p></p>
    </div>
    <div class="cadastro">
        <h2>Zonalestos X Butantanos</h2>
        
    </div>
    <hr>
    <div class="container">
        <ol class="lista-jogo">
            <li>
              <strong>Resultado:</strong><br>
              Zonalestos: 3<br>
              Butantanos: 0
            </li>
            <li>
              <strong>Categoria:</strong><br>
              3x0 - Futebol - Sub 20
            </li>
            <li>
              <strong>Data:</strong><br>
              EM<br>
              ANDAMENTO
            </li>
            <li>
              <strong>Etapa:</strong><br>
              Quartas de Finais
            </li>
          </ol>
    </div>
    <hr>
    
    <div class="ocorrencias">
        <h3>Nova ocorrência</h3>
        <a href=""><i class="fa-solid fa-plus"></i></a>
    </div>
    <hr>

    <h2>Ocorrências</h2>
    <div class="list-ocorrencias">
        <div class="titulo">TYPE - TEAM</div>
        <div class="linha">
            <div class="coluna"><span class="label">Causador:</span><br>Jorge Felipe</div>
            <div class="coluna"><span class="label">Vítima:</span><br>Mateus Asato</div>
        </div>
        <div class="linha">
            <div class="coluna"><span class="label">Tempo de Jogo:</span><br>35:34</div>
        </div>
    </div>
    <hr>
</body>
{% include 'pages/partials/footer_nav.html'%}
</html>