{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/f842f81dd4.js" crossorigin="anonymous"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Times</title>
</head>
<body>
    <div class="header"> 
        <h1>Times</h1>
    </div>

    <div class="cadastro">
        <h2>Registrar novo time</h2>
        <a href="createGame.html"><i class="fa-solid fa-plus"></i></a>
    </div>
    <hr>

    <!-- Lista de times aqui -->

    
</body>
{% include 'pages/partials/footer_nav.html'%}
</html>