{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/f842f81dd4.js" crossorigin="anonymous"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Times</title>
</head>
<body>
    <div class="header"> 
        <h1>Torneio</h1>
    </div>
   <!-- Lista de campeonatos aqui -->
</body>
{% include 'pages/partials/footer_nav.html'%}
</html>